.navbar{
  color: #fff;
  background: #000;
  width: 100%;
  padding: 20px;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.chart{
  float: left;
}

.block{
  width: 70%;
  margin: auto;
  height: 500px;
}

.block h2{
  text-align: center;
}